body {
    background-image: url(./imgs/Silksong.png);
    background-repeat: no-repeat;
    margin: 0 0 0;
}

.header {
    display: flex;
    background-color: rgb(255, 66, 66);
}

.Logo_Of_HK {
    width: 300px;
    height: 100px;
    margin-top: 0px;
}

.Telegram__Logo {
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-top: 20px;
}

.Steam__Logo {
    width: 100px;
    height: 100px;
    margin-top: 0px;
}

.TeamCherry__Logo {
    width: 200px;
    height: 100px;
    margin-top: 0px;
}

.soo {
    display: flex;
    margin-left: 1000px;
    gap: 50px;
}

.Button {
    width: 400px;
    height: 200px;
    background-color: rgb(255, 66, 66);
    margin-left: 1400px;
    margin-top: 300px;
    border-radius: 20px;
}

.text {
    color: white;
    padding-top: 15gpx;
}

.footer {
    background-color: grey;
    height: 50px;
    text-align: center;
    margin-top: 337px;
}